<div class="container">
  <header class="header-main">
    <div class="hamburguer-icon">
      <span class="hamburguer-icon-line-1"></span>
      <span class="hamburguer-icon-line-2"></span>
      <span class="hamburguer-icon-line-3"></span>
    </div>
    <div class="site-title">Lucas Yamamoto</div>
  </header>
</div>