<div class="container">
  <div class="welcome">
    <h2>CTO na Codeby</h2>
    <p>Sou um desenvolvedor Web e CTO da CodeBy. Busco estar por dentro das tecnologias no mercado de e-commerce e programação no geral, sempre focando em me renovar e buscar por soluções úteis e práticas para mim e para as empresas para as quais prestamos serviços.</p>
  </div>
</div>