$dark-primary-text-color: #A7A7A7;
$dark-primary-color: #F7C90F;
$dark-background-color: #272727;
$dark-thumb-shadow-color: black;
$dark-box-shadow-color: rgba(0, 0, 0, 0.1);

$date-background-color: white;