$dark-primary-text-color: #A7A7A7;
$dark-primary-color: #F7C90F;
$dark-background-color: #272727;
$dark-thumb-shadow-color: black;
$dark-box-shadow-color: #0000001a;
$dark-navbar-background-color: rgba(0,0,0,0.4);
$date-background-color: white;